@import url("https://fonts.googleapis.com/css?family=Jomolhari|Roboto&display=swap");

body{
    background: #009BC4;
    font-family: "Jomolhari", sans-serif;
}


h1{
    text-align: center;
}


.box{
    margin: auto;
    width: 300px;
    height: 300px;
    background: crimson;
    animation-direction: alternate;
    animation: skew 10s infinite;
    transform-style: preserve-3d;

}

@keyframes skew {
    0% {
      transform: rotateY(0);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
  
.square{
    
    width: 300px;
    height: 300px;
    background: greenyellow;
    text-align: center;
    transform: rotateY(90deg);

}


.content{
    height: 200px;
  width: 200px;
  background-color: #3d9970;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  color: white;
  padding: 5px;
  animation: shimmy 3s infinite;
  animation-direction: alternate;
}

@keyframes shimmy {
  0% {
    transform: translate(0, 0);    
  }
  100% {
    transform: translate(50px, 100px);
  }}

.boxes{
    margin: 150px;
  width: 200px;
  height: 100px;
  background-color: rgb(95, 39, 112);
  transition: all 5s;
  animation-duration: initial;
  animation: one 3s infinite;
}

@keyframes one {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(500px, 300px);
    }}
