@import url("https://fonts.googleapis.com/css?family=Jomolhari|Roboto&display=swap");

body{
   background: cornflowerblue;
  
  
}

h1{
    text-align: center;
}


.box{
    margin: auto;
    width: 300px;
    height: 300px;
    background: crimson;
    transition: all 10s;
    animation: skew 3s infinite;
    transform-style: preserve-3d;

}
.square{
    
    width: 300px;
    height: 300px;
    background: greenyellow;
    text-align: center;
    transform: rotateY(90deg);

}

.box:hover{
    transform: rotateY(960deg);
}


.content{
    height: 200px;
  width: 200px;
  background-color: #3d9970;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  color: white;
  padding: 5px;
  animation: shimmy 3s infinite;
  animation-direction: alternate;
}

@keyframes shimmy {
  0% {
    transform: translate(0, 0);    
  }
  100% {
    transform: translate(50px, 100px);
  }}

.boxes{
    margin: 150px;
  width: 200px;
  height: 100px;
  background-color: rgb(95, 39, 112);
  transition: all 5s;
  animation-duration: initial;
  
}

.boxes:hover{

    transform: scale(2,3);
    background: chocolate;
    
}